<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoCards</title>
    <!--Estilos de tailwind solamente-->
    <link rel="stylesheet" href="/css/tailwindStyles.css">
    <!--al establecer a 'public' como la carpeta de archivos estaticos en express, la ruta debe escribirse tomando a public como punto de partida-->
    <!--Mis estilos-->
    <link rel="stylesheet" href="/css/styles.css">
    <!--Font Awesome 6-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body class="gradienteMoradoBlanco">
    <!-- Header -->
    <header class="bgColorMorado1 bordeTopBottomAmarillo1 w-full">
        <div class="flex flex-row justify-evenly">
            <div class="flex flex-col lg:flex-row justify-evenly px-2">
                <img src="/img/vecteezy_bitcoin-key-3d-illustration.png" alt="bitcoin key digital art"
                    class="rotate23 max-w-36 max-h-28">
                <h1 class="fuenteAmarilla self-center inria-sans-bold juntarLetras text-3xl">CRYPTOCARDS</h1>
            </div>
            <ul class="flex flex-col lg:flex-row lg:justify-around self-center w-1/4 mt-10 bg-yellow-400">
                <li class="fuenteBlanca py-2 mx-auto inria-sans-bold">
                    <a href="#">Inicio</a>
                </li>
                <li class="fuenteBlanca py-2 mx-auto inria-sans-bold">
                    <a href="#">Precios</a>
                </li>
                <li class="fuenteBlanca py-2 mx-auto inria-sans-bold">
                    <a href="#">Casos De Uso</a>
                </li>
                <li class="fuenteBlanca py-2 mx-auto inria-sans-bold">
                    <a href="#">Acerca De</a>
                </li>
            </ul>
            <div class="flex flex-row bg-yellow-200">
                <a href="#" class="flex flex-row justify-between px-2">
                    <h3 class="fuenteBlanca self-center inria-sans-bold">Dashboard</h3>
                    <i class="fa-solid fa-table-cells fuenteBlanca self-center ml-4"></i>
                </a>
            </div>
        </div>
    </header>

    <!-- Contenido principal -->
    <div class="container mx-auto p-8">
        <!-- Imagen con texto y botón -->
        <div class="bg-white p-8 rounded-md shadow-md text-center">
            <img src="" alt="Descripción de la imagen" class="mx-auto mb-4 rounded-md">
            <h2 class="text-xl font-semibold mb-4">Texto sobre la imagen</h2>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Mi Botón</button>
        </div>
    </div>
    <div class="container mx-auto p-8">
        <!-- Imagen con texto y botón -->
        <div class="bg-white p-8 rounded-md shadow-md text-center">
            <img src="" alt="Descripción de la imagen" class="mx-auto mb-4 rounded-md">
            <h2 class="text-xl font-semibold mb-4">Texto sobre la imagen</h2>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Mi Botón</button>
        </div>
    </div>
    <div class="container mx-auto p-8">
        <!-- Imagen con texto y botón -->
        <div class="bg-white p-8 rounded-md shadow-md text-center">
            <img src="" alt="Descripción de la imagen" class="mx-auto mb-4 rounded-md">
            <h2 class="text-xl font-semibold mb-4">Texto sobre la imagen</h2>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Mi Botón</button>
        </div>
    </div>
    <div class="container mx-auto p-8">
        <!-- Imagen con texto y botón -->
        <div class="bg-white p-8 rounded-md shadow-md text-center">
            <img src="" alt="Descripción de la imagen" class="mx-auto mb-4 rounded-md">
            <h2 class="text-xl font-semibold mb-4">Texto sobre la imagen</h2>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Mi Botón</button>
        </div>
    </div>
    <div class="container mx-auto p-8">
        <!-- Imagen con texto y botón -->
        <div class="bg-white p-8 rounded-md shadow-md text-center">
            <img src="" alt="Descripción de la imagen" class="mx-auto mb-4 rounded-md">
            <h2 class="text-xl font-semibold mb-4">Texto sobre la imagen</h2>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Mi Botón</button>
        </div>
    </div>
    <div class="container mx-auto p-8">
        <!-- Imagen con texto y botón -->
        <div class="bg-white p-8 rounded-md shadow-md text-center">
            <img src="" alt="Descripción de la imagen" class="mx-auto mb-4 rounded-md">
            <h2 class="text-xl font-semibold mb-4">Texto sobre la imagen</h2>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Mi Botón</button>
        </div>
    </div>
    <div class="container mx-auto p-8">
        <!-- Imagen con texto y botón -->
        <div class="bg-white p-8 rounded-md shadow-md text-center">
            <img src="" alt="Descripción de la imagen" class="mx-auto mb-4 rounded-md">
            <h2 class="text-xl font-semibold mb-4">Texto sobre la imagen</h2>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Mi Botón</button>
        </div>
    </div>
    <div class="container mx-auto p-8">
        <!-- Imagen con texto y botón -->
        <div class="bg-white p-8 rounded-md shadow-md text-center">
            <img src="" alt="Descripción de la imagen" class="mx-auto mb-4 rounded-md">
            <h2 class="text-xl font-semibold mb-4">Texto sobre la imagen</h2>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Mi Botón</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"
        crossorigin="anonymous"></script>
</body>

</html>