<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoCards</title>
    <!--Estilos de tailwind solamente-->
    <link rel="stylesheet" href="/css/tailwindStyles.css">
    <!--al establecer a 'public' como la carpeta de archivos estaticos en express, la ruta debe escribirse tomando a public como punto de partida-->
    <!--Mis estilos-->
    <link rel="stylesheet" href="/css/styles.css">
    <!--Font Awesome 6-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body class="gradienteMoradoBlanco">
    <!--HEADER-->
    <header class="bgColorMorado1 bordeTopBottomAmarillo1 w-full">
        <div class="flex flex-col md:flex-row justify-center md:justify-evenly">
            <div class="flex mx-auto md:mx-0">
                <a href="#"
                    class="flex flex-col lg:flex-row justify-center lg:justify-evenly px-2 transform motion-safe:hover:scale-110">
                    <img src="/img/vecteezy_bitcoin-key-3d-illustration.png" alt="bitcoin key digital art"
                        class="rotate23 object-cover max-w-32 lg:max-w-none max-h-28 lg:max-h-none ml-4 lg:ml-0">
                    <h1 class="fuenteAmarilla self-center inria-sans-bold juntarLetras text-3xl">CRYPTOCARDS
                    </h1>
                </a>
            </div>
            <ul
                class="flex flex-col lg:flex-row lg:justify-evenly self-center mt-10 inria-sans-bold text-2xl md:text-xl">
                <li class="fuenteBlanca py-2 mx-auto transform motion-safe:hover:scale-110">
                    <a href="#" class="px-2">Inicio</a>
                </li>
                <li class="fuenteBlanca py-2 mx-auto transform motion-safe:hover:scale-110">
                    <a href="#" class="px-2">Precios</a>
                </li>
                <li class="fuenteBlanca py-2 mx-auto transform motion-safe:hover:scale-110">
                    <a href="#" class="px-2 whitespace-nowrap">Casos De Uso</a>
                </li>
                <li class="fuenteBlanca py-2 mx-auto transform motion-safe:hover:scale-110">
                    <a href="#" class="px-2 whitespace-nowrap">Acerca De</a>
                </li>
            </ul>
            <div class="flex flex-row">
                <a href="#"
                    class="flex flex-row justify-between px-2 mx-auto md:mx-0 transform motion-safe:hover:scale-110">
                    <h3 class="fuenteBlanca self-center inria-sans-bold text-2xl md:text-xl mb-8 md:mb-0">Dashboard</h3>
                    <i
                        class="fa-solid fa-table-cells fuenteBlanca self-center ml-4 text-2xl md:text-xl mb-8 md:mb-0"></i>
                </a>
            </div>
        </div>
    </header>

    <div class="flex flex-col md:flex-row picosMoradosBackground justify-center sombraHeader pb-12 xl:pb-0 relative">
        <div id="particles-js" class="absolute inset-0 z-10"></div>
        <div class="flex flex-col self-center">
            <div class="flex flex-row mt-8 justify-center lg:justify-normal">
                <h1 class="fuenteBlanca inria-sans-regular text-2xl lg:text-4xl">Aprenda sobre el mundo blockchain
                    <br>y sus principales criptomonedas
                </h1>
            </div>
            <div class="flex flex-row justify-end mt-8">
                <img src="/img/vecteezy_bitcoin-btc-coin-stacks-cryptocurrency-3d-render-illustration_21627687.png"
                    alt="bitcoin-stack-coins-btc-gold-render" class="max-w-20 md:max-w-28 z-20">
                <h3 class="text-right fuenteBlanca inria-sans-regular text-base md:text-xl lg:text-2xl">Además puede
                    consultar los
                    principales
                    <br>tokens en base a su capitalización de
                    <br>mercado o buscar uno de su preferencia para
                    <br>conocer todo sobre él.
                </h3>
            </div>
        </div>
        <div class="flex flex-col self-center">
            <img src="/img/Group2.png" alt="art-server-trading-bitcoin-blockchain" class="max-w-64 lg:max-w-none z-30">
        </div>
    </div>
    <!--FIN HEADER-->

    <!--CARD INICIO-->
    <div class="w-5/6 md:w-3/4 mx-auto mt-12 gradienteCardInicio sobraCardInicio bordeRedondeado">
        <div class="flex flex-col-reverse lg:flex-row justify-evenly">
            <div class="flex flex-row lg:flex-col lg:w-2/5 2xl:w-1/2">
                <img src="/img/Group1.png" alt="cloud-tech-digital-art">
            </div>
            <div class="flex flex-row lg:flex-col lg:w-3/5 2xl:w-1/2 self-center">
                <h4
                    class="text-sm md:text-xl xl:text-2xl fuenteBlanca inria-sans-regular text-center lg:text-right mt-8 lg:mt-0 mr-auto">
                    La blockchain, o cadena de bloques, es la tecnología
                    <br>subyacente que impulsa las criptomonedas. Se
                    <br>trata de un registro descentralizado y distribuido
                    <br>que garantiza la transparencia, seguridad y
                    <br>confiabilidad de las transacciones. En lugar de
                    <br>depender de una autoridad central, como un banco,
                    <br>las transacciones se registran de manera
                    <br>inmutable en bloques enlazados entre sí.
                </h4>
            </div>
        </div>
        <div class="flex flex-col w-4/5 mx-auto">
            <div class="flex flex-row w-full">
                <h3
                    class="text-wrap lg:text-nowrap fuenteBlanca inria-sans-bold text-lg lg:text-xl 2xl:text-2xl underline">
                    Las
                    criptomonedas con
                    la mayor capitalización de mercado son:</h3>
            </div>
            <div class="flex flex-row w-full my-4">
                <div
                    class="flex flex-col w-4/5 inria-sans-regular fuenteBlanca text-sm md:text-lg lg:text-xl 2xl:text-2xl text-justify">
                    <p>Bitcoin (BTC): La primera y más conocida criptomoneda, creada por un pseudónimo llamado Satoshi
                        Nakamoto en 2009. Bitcoin es a menudo considerado como el oro digital y es utilizado como
                        reserva de valor. Su capitalización de mercado actual es de [inserte market cap].</p>
                </div>
                <div class="flex flex-col w-1/5 self-center">
                    <img src="/img/trx-pngwingcom.png" alt="cryptocurrency-logo"
                        class="max-w-14 lg:max-w-28 2xl:max-w-36 mx-auto">
                </div>
            </div>
            <div class="flex flex-row w-full my-4">
                <div
                    class="flex flex-col w-4/5 inria-sans-regular fuenteBlanca text-sm md:text-lg lg:text-xl 2xl:text-2xl text-justify">
                    <p>Ethereum (ETH): Más que solo una criptomoneda, Ethereum es una plataforma que permite la creación
                        de contratos inteligentes y aplicaciones descentralizadas (DApps). Su token nativo es Ether
                        (ETH) y posee una capitalización de mercado de [inserte market cap].</p>
                </div>
                <div class="flex flex-col w-1/5 self-center">
                    <img src="/img/eth-pngwingcom.png" alt="cryptocurrency-logo"
                        class="max-w-14 lg:max-w-28 2xl:max-w-36 mx-auto">
                </div>
            </div>
        </div>
    </div>
    <!--FIN INICIO-->

    <!--PRECIOS-->
    <div class="flex flex-row mt-16 sombraElementos">
        <div class="lowPolyBackground w-full xs:py-8 sm:pb-8 md:pb-16 lg:pb-0 xl:pb-0 2xl:pb-0">
            <div class="flex flex-row">
                <div class="flex flex-row w-1/3">
                    <img src="/img/Group3.png" class="bg-auto relacionAspectoMant" alt="bitcoin-mining-svg">
                </div>
                <div class="flex flex-row w-1/3">
                    <div class="w-full xs:mt-4 sm:mt-8 md:mt-24 lg:mt-24 xl:mt-24 2xl:mt-24">
                        <div class="w-full">
                            <h2
                                class="xs:text-xl sm:text-2xl md:text-2xl lg:text-3xl xl:text-5xl 2xl:text-6xl text-white xs:text-wrap sm:text-nowrap w-fit lg:mx-auto xl:-mx-28 sombraTitulos">
                                Consulte el precio de cualquier
                            </h2>
                        </div>
                        <div class="w-full mt-2">
                            <h2
                                class="xs:text-xl sm:text-2xl md:text-2xl lg:text-3xl xl:text-5xl 2xl:text-6xl text-white xs:text-wrap sm:text-nowrap w-fit mx-auto sombraTitulos">
                                token en tiempo real
                            </h2>
                        </div>
                        <div class="w-full xs:mt-8 sm:mt-8 md:mt-32 lg:mt-32 xl:mt-32 2xl:mt-32 text-center">
                            <a href="#"
                                class="capitalize text-white xs:text-sm sm:text-xl md:text-xl lg:text-2xl bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg px-5 py-2.5 text-center sombraVerde">ir
                                al dashboard</a>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row w-1/3">
                    <img src="/img/vecteezy_cryptocurrency-exchange-3d-illustration_13391079.png"
                        class="bg-auto relacionAspectoMant w-3/4 sombraElementos xs:ml-11 sm:ml-16 md:ml-4 lg:ml-4 xl:ml-4 2xl:ml-4"
                        alt="dollar-bitcoin-ether-coins-render">
                </div>
            </div>
        </div>
    </div>

    <!--CASOS DE USO-->
    <div class="flex flex-col casosUsoBackground">
        <h2 class="sombraTitulos text-3xl text-center flex-nowrap uppercase text-white mt-20">elija un token y aprenda
            sobre la teconología que
            este representa</h2>
        <div class="flex flex-row justify-center">
            <div class="max-w-sm p-6 bg-white bordeCards cardsBackground m-4">
                <h5 class="mb-2 text-2xl font-bold text-white uppercase text-center">nombre token</h5>
                <img src="/img/vecteezy_bitcoin-btc-coin-stacks-cryptocurrency-3d-render-illustration_21627687.png"
                    alt="" class="max-w-48 mx-auto">
                <p class="mb-3 text-lg text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Laborum, animi quia reiciendis hic eius ullam! Corrupti quae iste sequi, voluptate officia impedit
                    cumque repudiandae minima incidunt dolor veritatis, harum aspernatur cupiditate commodi autem
                    numquam cum!</p>
                <a href="#"
                    class="inline-flex items-center px-3 py-2 text-lg text-white bg-blue-700 rounded-lg hover:bg-blue-900 float-end">
                    Read more
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
            </div>
            <div class="max-w-sm p-6 bg-white bordeCards cardsBackground m-4">
                <h5 class="mb-2 text-2xl font-bold text-white uppercase text-center">nombre token</h5>
                <img src="/img/vecteezy_bitcoin-btc-coin-stacks-cryptocurrency-3d-render-illustration_21627687.png"
                    alt="" class="max-w-48 mx-auto">
                <p class="mb-3 text-lg text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Laborum, animi quia reiciendis hic eius ullam! Corrupti quae iste sequi, voluptate officia impedit
                    cumque repudiandae minima incidunt dolor veritatis, harum aspernatur cupiditate commodi autem
                    numquam cum!</p>
                <a href="#"
                    class="inline-flex items-center px-3 py-2 text-lg text-white bg-blue-700 rounded-lg hover:bg-blue-900 float-end">
                    Read more
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
            </div>
            <div class="max-w-sm p-6 bg-white bordeCards cardsBackground m-4">
                <h5 class="mb-2 text-2xl font-bold text-white uppercase text-center">nombre token</h5>
                <img src="/img/vecteezy_bitcoin-btc-coin-stacks-cryptocurrency-3d-render-illustration_21627687.png"
                    alt="" class="max-w-48 mx-auto">
                <p class="mb-3 text-lg text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Laborum, animi quia reiciendis hic eius ullam! Corrupti quae iste sequi, voluptate officia impedit
                    cumque repudiandae minima incidunt dolor veritatis, harum aspernatur cupiditate commodi autem
                    numquam cum!</p>
                <a href="#"
                    class="inline-flex items-center px-3 py-2 text-lg text-white bg-blue-700 rounded-lg hover:bg-blue-900 float-end">
                    Read more
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
            </div>
            <div class="max-w-sm p-6 bg-white bordeCards cardsBackground m-4">
                <h5 class="mb-2 text-2xl font-bold text-white uppercase text-center">nombre token</h5>
                <img src="/img/vecteezy_bitcoin-btc-coin-stacks-cryptocurrency-3d-render-illustration_21627687.png"
                    alt="" class="max-w-48 mx-auto">
                <p class="mb-3 text-lg text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Laborum, animi quia reiciendis hic eius ullam! Corrupti quae iste sequi, voluptate officia impedit
                    cumque repudiandae minima incidunt dolor veritatis, harum aspernatur cupiditate commodi autem
                    numquam cum!</p>
                <a href="#"
                    class="inline-flex items-center px-3 py-2 text-lg text-white bg-blue-700 rounded-lg hover:bg-blue-900 float-end">
                    Read more
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"
        crossorigin="anonymous"></script>
    <script src="/js/particles.min.js"></script>
    <script src="/js/RunParticles.js"></script>
</body>

</html>

<!--<div class="container grid grid-cols-12">
    <div class="col-span-4 bg-red-500">Izquierda (33%)</div>
    <div class="col-span-6 bg-blue-500">Centro (50%)</div>
    <div class="col-span-2 bg-green-500">Derecha (20%)</div>
</div>-->