<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoCards</title>
    <!--Estilos de tailwind solamente-->
    <link rel="stylesheet" href="/css/tailwindStyles.css">
    <!--al establecer a 'public' como la carpeta de archivos estaticos en express, la ruta debe escribirse tomando a public como punto de partida-->
    <!--Mis estilos-->
    <link rel="stylesheet" href="/css/styles.css">
    <!--Font Awesome 6-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body class="gradienteMoradoBlanco">
    <!-- Header -->
    <header class="bgColorMorado1 bordeTopBottomAmarillo1 w-full">
        <div class="flex flex-col md:flex-row justify-center md:justify-evenly">
            <div class="flex mx-auto md:mx-0">
                <a href="#"
                    class="flex flex-col lg:flex-row justify-center lg:justify-evenly px-2 transform motion-safe:hover:scale-110">
                    <img src="/img/vecteezy_bitcoin-key-3d-illustration.png" alt="bitcoin key digital art"
                        class="rotate23 object-cover max-w-32 lg:max-w-none max-h-28 lg:max-h-none ml-4 lg:ml-0">
                    <h1 class="fuenteAmarilla self-center inria-sans-bold juntarLetras text-3xl">CRYPTOCARDS
                    </h1>
                </a>
            </div>
            <ul
                class="flex flex-col lg:flex-row lg:justify-evenly self-center mt-10 inria-sans-bold text-2xl md:text-xl">
                <li class="fuenteBlanca py-2 mx-auto transform motion-safe:hover:scale-110">
                    <a href="#" class="px-2">Inicio</a>
                </li>
                <li class="fuenteBlanca py-2 mx-auto transform motion-safe:hover:scale-110">
                    <a href="#" class="px-2">Precios</a>
                </li>
                <li class="fuenteBlanca py-2 mx-auto transform motion-safe:hover:scale-110">
                    <a href="#" class="px-2 whitespace-nowrap">Casos De Uso</a>
                </li>
                <li class="fuenteBlanca py-2 mx-auto transform motion-safe:hover:scale-110">
                    <a href="#" class="px-2 whitespace-nowrap">Acerca De</a>
                </li>
            </ul>
            <div class="flex flex-row">
                <a href="#"
                    class="flex flex-row justify-between px-2 mx-auto md:mx-0 transform motion-safe:hover:scale-110">
                    <h3 class="fuenteBlanca self-center inria-sans-bold text-2xl md:text-xl mb-8 md:mb-0">Dashboard</h3>
                    <i
                        class="fa-solid fa-table-cells fuenteBlanca self-center ml-4 text-2xl md:text-xl mb-8 md:mb-0"></i>
                </a>
            </div>
        </div>
    </header>

    <div class="flex flex-col md:flex-row picosMoradosBackground justify-center sombraHeader pb-12 xl:pb-0">
        <div class="flex flex-col self-center">
            <div class="flex flex-row mt-8 justify-center lg:justify-normal">
                <h1 class="fuenteBlanca inria-sans-regular text-2xl lg:text-4xl">Aprenda sobre el mundo blockchain
                    <br>y sus principales criptomonedas
                </h1>
            </div>
            <div class="flex flex-row justify-end mt-8">
                <img src="/img/vecteezy_bitcoin-btc-coin-stacks-cryptocurrency-3d-render-illustration_21627687.png"
                    alt="bitcoin-stack-coins-btc-gold-render" class="max-w-20 md:max-w-28">
                <h3 class="text-right fuenteBlanca inria-sans-regular text-base md:text-xl lg:text-2xl">Además puede
                    consultar los
                    principales
                    <br>tokens en base a su capitalización de
                    <br>mercado o buscar uno de su preferencia para
                    <br>conocer todo sobre él.
                </h3>
            </div>
        </div>
        <div class="flex flex-col self-center">
            <img src="/img/Group2.png" alt="art-server-trading-bitcoin-blockchain" class="max-w-64 lg:max-w-none">
        </div>
    </div>

    <!--CARD INICIO-->
    <div class="w-3/4 mx-auto mt-12 gradienteCardInicio sobraCardInicio bordeRedondeado">
        <div class="flex flex-row justify-evenly">
            <div class="flex flex-col">
                <img src="/img/Group1.png" alt="cloud-tech-digital-art">
            </div>
            <div class="flex flex-col self-center">
                <h4 class="text-xl fuenteBlanca inria-sans-regular text-right">La blockchain, o cadena de bloques, es la
                    tecnología
                    <br>subyacente que impulsa las criptomonedas. Se
                    <br>trata de un registro descentralizado y distribuido
                    <br>que garantiza la transparencia, seguridad y
                    <br>confiabilidad de las transacciones. En lugar de
                    <br>depender de una autoridad central, como un banco,
                    <br>las transacciones se registran de manera
                    <br>inmutable en bloques enlazados entre sí.
                </h4>
            </div>
        </div>
        <div class="flex flex-col w-4/5 mx-auto">
            <div class="flex flex-row w-full">
                <h3 class="text-nowrap">Las criptomonedas con la mayor capitalización de mercado son:</h3>
            </div>
            <div class="flex flex-row w-full">
                <div class="flex flex-col w-4/5">
                    <p>Bitcoin (BTC): La primera y más conocida criptomoneda, creada por un pseudónimo llamado Satoshi
                        Nakamoto en 2009. Bitcoin es a menudo considerado como el oro digital y es utilizado como
                        reserva de valor. Su capitalización de mercado actual es de [inserte market cap].</p>
                </div>
                <div class="flex flex-col w-1/5">
                    <img src="" alt="cryptocurrency-logo">
                </div>
            </div>
            <div class="flex flex-row w-full">
                <div class="flex flex-col w-4/5">
                    <p>Ethereum (ETH): Más que solo una criptomoneda, Ethereum es una plataforma que permite la creación
                        de contratos inteligentes y aplicaciones descentralizadas (DApps). Su token nativo es Ether
                        (ETH) y posee una capitalización de mercado de [inserte market cap].</p>
                </div>
                <div class="flex flex-col w-1/5">
                    <img src="" alt="cryptocurrency-logo">
                </div>
            </div>
        </div>
    </div>

    <!--CONTENIDO DE RELLENO BORRAR DESPUES PUÑETA-->

    <!-- Contenido principal -->
    <div class="container mx-auto p-8">
        <!-- Imagen con texto y botón -->
        <div class="bg-white p-8 rounded-md shadow-md text-center">
            <img src="" alt="Descripción de la imagen" class="mx-auto mb-4 rounded-md">
            <h2 class="text-xl font-semibold mb-4">Texto sobre la imagen</h2>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Mi Botón</button>
        </div>
    </div>
    <div class="container mx-auto p-8">
        <!-- Imagen con texto y botón -->
        <div class="bg-white p-8 rounded-md shadow-md text-center">
            <img src="" alt="Descripción de la imagen" class="mx-auto mb-4 rounded-md">
            <h2 class="text-xl font-semibold mb-4">Texto sobre la imagen</h2>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Mi Botón</button>
        </div>
    </div>
    <div class="container mx-auto p-8">
        <!-- Imagen con texto y botón -->
        <div class="bg-white p-8 rounded-md shadow-md text-center">
            <img src="" alt="Descripción de la imagen" class="mx-auto mb-4 rounded-md">
            <h2 class="text-xl font-semibold mb-4">Texto sobre la imagen</h2>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Mi Botón</button>
        </div>
    </div>
    <div class="container mx-auto p-8">
        <!-- Imagen con texto y botón -->
        <div class="bg-white p-8 rounded-md shadow-md text-center">
            <img src="" alt="Descripción de la imagen" class="mx-auto mb-4 rounded-md">
            <h2 class="text-xl font-semibold mb-4">Texto sobre la imagen</h2>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Mi Botón</button>
        </div>
    </div>
    <div class="container mx-auto p-8">
        <!-- Imagen con texto y botón -->
        <div class="bg-white p-8 rounded-md shadow-md text-center">
            <img src="" alt="Descripción de la imagen" class="mx-auto mb-4 rounded-md">
            <h2 class="text-xl font-semibold mb-4">Texto sobre la imagen</h2>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Mi Botón</button>
        </div>
    </div>
    <div class="container mx-auto p-8">
        <!-- Imagen con texto y botón -->
        <div class="bg-white p-8 rounded-md shadow-md text-center">
            <img src="" alt="Descripción de la imagen" class="mx-auto mb-4 rounded-md">
            <h2 class="text-xl font-semibold mb-4">Texto sobre la imagen</h2>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Mi Botón</button>
        </div>
    </div>
    <div class="container mx-auto p-8">
        <!-- Imagen con texto y botón -->
        <div class="bg-white p-8 rounded-md shadow-md text-center">
            <img src="" alt="Descripción de la imagen" class="mx-auto mb-4 rounded-md">
            <h2 class="text-xl font-semibold mb-4">Texto sobre la imagen</h2>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Mi Botón</button>
        </div>
    </div>
    <div class="container mx-auto p-8">
        <!-- Imagen con texto y botón -->
        <div class="bg-white p-8 rounded-md shadow-md text-center">
            <img src="" alt="Descripción de la imagen" class="mx-auto mb-4 rounded-md">
            <h2 class="text-xl font-semibold mb-4">Texto sobre la imagen</h2>
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Mi Botón</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"
        crossorigin="anonymous"></script>
</body>

</html>