.bgColorMorado1 {
    background-color: #200034;
}

.bordeTopBottomAmarillo1 {
    border-bottom: 2px solid #EAA206;
    border-top: 2px solid #EAA206;
}

.rotate23 {
    transform: rotate(-23deg);
}

.fuenteBlanca {
    color: #fff;
}

.fuenteAmarilla {
    color: #EAA206
}

.gradienteMoradoBlanco {
    background: linear-gradient(to bottom,
            #1C012F,
            #CE88FE,
            #F6E8FF);
    background-size: cover;
    background-repeat: no-repeat;
}

.inria-sans-light {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.inria-sans-regular {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inria-sans-bold {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.juntarLetras {
    letter-spacing: -3px;
}

.picosMoradosBackground {
    background-image: url('../img/stacked-peaks-haikei.svg');
    background-size: cover auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.sombraHeader {
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.45);
}

.sobraCardInicio {
    box-shadow: 8px 8px 6px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 8px 8px 6px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 8px 8px 6px 0px rgba(0, 0, 0, 0.5);
}

.gradienteCardInicio {
    background: rgb(100, 3, 162);
    background: linear-gradient(135deg, rgba(100, 3, 162, 1) 20%, rgba(240, 220, 252, 1) 100%);
}

.bordeRedondeado {
    border-radius: 3rem;
}

.lowPolyBackground {
    background-image: url('../img/low-poly-grid-haikei-1-1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.relacionAspectoMant {
    object-fit: contain;
}

.sombraVerde {
    box-shadow: 0px 6px 6px 0px rgba(21, 162, 155, 1);
    -webkit-box-shadow: 0px 6px 6px 0px rgba(21, 162, 155, 1);
    -moz-box-shadow: 0px 6px 6px 0px rgba(21, 162, 155, 1);
}

.sombraElementos {
    filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.75));
}

.sombraTitulos {
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
}